<h1>New Article</h1>

<%= form_with model: @blog_article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author %><br>
    <%= form.text_area :author %>
  </div>

  <div>
    <%= form.label :rating %><br>
    <%= form.text_area :rating %>
  </div>
  
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>